@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');

.lyric-body {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: whitesmoke;
    font-family: 'Lakki Reddy', cursive;
    margin: 7%;   
    text-shadow: 2px 2px rgb(91, 109, 92); 
    text-align: center;
}