@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.input-field {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-family: 'Acme', sans-serif;
}

@media (min-width: 768px) {
    .input-field {
      background-image: linear-gradient(
        to left top,
        #000000,
        #000000,
        #06110a,
        #12eb6b,
        #12eb6b
      );
      height: 20pc;
    }
    input.form-control {
      width: 70vh;
      background-color: rgb(200, 233, 243);
      margin: 10px;
    }
  }
  @media (max-width: 767px) {
    .input-field {
      background-color: #1a1a1a;
      background-image: none; 
      height: auto; 
    }
    input.form-control {
      width: 100%;
      background-color: rgb(200, 233, 243);
      margin: 10px;
    }
  }


