@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.input-field {
    display: flex;
    background-image: linear-gradient(to left top, #000000,  #000000, #06110a, #12eb6b, #12eb6b);   
    justify-content: center;
    padding: 3%;
    font-family: 'Acme', sans-serif;
}
